{% set pagetitle = 'Beta'|trans %}
{% extends "@beta/base.twig" %}

{% block content %}
        	<div class="form">
                {% if userError is not empty %}
                    <div class="message-box error">
                        {{ userError }}
                    </div>
                {% endif %}
    <form action="{{ moduleURL('beta/authenticate') }}" method="get">
        <input type='hidden' name="StateId" value="{{ StateId }}">
        <input type='submit' name="submit" class="btn" value="Submit"> 
    </form>
{% endblock %}
